{% if page.url == '/' %}
<h1 class="homepost">{{ title }}
  <!-- <img src="/img/pin.png" class="pinned"/> -->
</h1>
{% else %}
<h1>{{ title }}</h1>
{% endif %}

<ul>
{% for author in authors %}
   <li>
   {{ author }}
   </li>
{% endfor %}
</ul>

<div class="content {% if page.url == '/' %}homepost{% endif %}">
{{ content | safe }}
</div>
