{% if page.url == '/' %}
<h1 class="homepost">{{ title }}</h1>
{% else %}
<h1>{{ title }}</h1>
{% endif %}

<div class="content {% if page.url == '/' %}homepost{% endif %}">
{{ content | safe }}
</div>
